{% extends 'modal-base.html.twig' %}

{% do script(['libs/jquery-validation.js', 'libs/jquery-form.js', 'app/user/modal-alias.js']) %}

{% block title %}
  修改密码
{% endblock %}

{% block body %}
<form id="alias-form" class="form-horizontal" action="{{ path('user_password_change', {id:user.id}) }}"
  method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label col-md-2">当前用户</label>
      <div class="col-md-9">
        <p class="form-control-static">{{ user.nickname }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2">新密码<span class="text-danger">&nbsp;*</span></label>
      <div class="col-md-9">
        <input id="password" class="form-control input-sm" type="password" name="password" value="">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2">确认密码<span class="text-danger">&nbsp;*</span></label>
      <div class="col-md-9">
        <input class="form-control input-sm" type="password" name="password_confirm" value="">
      </div>
    </div>
  {{ form_csrf_token() }}
</form>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>
  <a id="alias-create-btn" class="btn btn-primary" data-toggle="form-submit"
     data-target="#alias-form" data-loading-text="正在提交">
    保存
  </a>
{% endblock %}