{% extends 'AppBundle::layout.html.twig' %}
{% block title %}概览 - {{ parent() }}{% endblock %}

{% set main_nav = 'dashboard' %}

{% block header %}
  <h1>控制面板</h1>
{% endblock %}

{% block content %}
  <p>Hello, dashboard!</p>
{% endblock %}